@import "variables";

$desktopThreshold: 1420px;
$asideWidth: calc(calc(100vw - 100%) / 2);

@media (max-width: #{$desktopThreshold - 1}) {
  header + article {
    div[role="contentinfo"] {
      > section {
        margin-bottom: 0 !important;
      }
    }
  }
}

@media (min-width: $desktopThreshold) {
  article {
    a:not([role="button"]) {
      &:hover {
        text-decoration-thickness: 2ex;
        text-underline-offset: -2.6ex;
      }
    }

    > section[role="figure"] {
      &:hover {
        background-color: var(--color-bg-tertiary);
      }
    }
  }

  header + article {
    #toc + section {
      display: block;
      position: sticky;
      height: 0;
      float: left;
      width: $asideWidth;
      max-width: 24em;
      top: calc(1.5 * #{$navHeight});
      margin-left: 100%;
      margin-bottom: 0;

      &,
      & + section {
        transition: opacity 0.35s ease-in;
      }

      ul {
        white-space: nowrap;
        margin: 0;
        &,
        & ul {
          padding: 0 1.5rem;
          list-style-type: none;
        }
        a {
          display: block;
          text-decoration: none;
          min-width: 0;
          text-overflow: ellipsis;
          overflow: hidden;
          transition: all 0.2s ease;
          user-select: none;
          opacity: 0.5;
          &:hover {
            color: var(--theme);
            opacity: 1;
          }
        }
        li.visible a {
          opacity: 0.9;
          transform: translate(0.25ch);
        }
      }
    }
    #toc {
      padding-left: 0.67em;
    }

    #tocmark {
      display: block;
      position: absolute;
      overflow: visible;
      pointer-events: none;
      path {
        transition: all 0.2s ease;
        fill: transparent;
        stroke: var(--theme);
        stroke-width: 3px;
        stroke-dasharray: 0 0 0 1000;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    }

    section[role="banner"] {
      figure {
        margin-left: calc(-12em - 1ch);
        img {
          width: 100%;
        }
        figcaption {
          display: none;
        }
      }
      ~ div[role="contentinfo"] {
        position: absolute;
        right: 100%;
        top: $PostPaddingTop;
        display: flex;
        flex-wrap: wrap;
        width: 12em;
        justify-content: flex-start;
        bottom: unset;
        margin: 1ch;

        > section {
          border-top: 3px solid var(--color-fg);
          flex-basis: 100%;
          padding: 1ch 0 2ch;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          transition: opacity 0.35s ease-in;
          margin-bottom: 2em;

          h2 {
            display: block;
            font-size: 1em;
            margin: 0.5ch 0;
          }

          [role="button"] {
            margin: 0.5ch 0 0;
          }

          &:nth-of-type(2) {
            opacity: 0;
          }
        }
      }
    }
  }
}
