@mixin postLocale($lang) {
  header + article[lang="#{$lang}"] {
    &,
    & > div {
      @content;
    }
  }
}

@include postLocale(zh) {
  > section:first-of-type ~ {
    p,
    section > p,
    section section > p {
      line-height: 1.5;
      text-indent: 2em;
    }

    section blockquote {
      p {
        line-height: 1.4;
      }
    }

    section blockquote,
    .flex-center {
      p {
        text-indent: initial;
      }
      h2 {
        text-align: initial;
      }
    }
  }

  h2 {
    text-align: center;
  }
}
