@import "variables";

$mobileThreshold: 767px;

@media (min-width: #{$mobileThreshold + 1}) {
  header + article {
    div[role="contentinfo"] {
      position: absolute;
      bottom: 2em;
      width: 100%;
    }
  }
  article {
    > section[role="figure"] {
      img {
        display: none;
      }
      &:hover {
        background-color: var(--color-bg-tertiary);
      }
    }
  }
}

@media (max-width: $mobileThreshold) {
  h1 {
    font-size: 3.5em;
  }

  p,
  a {
    font-weight: 300;
  }

  main {
    > header {
      display: none;
    }
    > header,
    > footer {
      > div {
        padding: 0px 16px;
      }
    }
  }

  article {
    padding: 1em 1em 4em;
    > section[role="figure"] {
      margin: 0;
      padding: 0.5em 0;
      figure {
        border-radius: 1em;
        background-color: var(--color-bg-tertiary);

        img {
          height: 55vw;
          width: 100%;
          border-top-left-radius: 1em;
          border-top-right-radius: 1em;
        }

        figcaption {
          padding: 1em;
        }
      }
    }
  }

  header + article {
    padding: 2em 1em 4em;
    table {
      thead tr {
        top: 0;
      }
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      word-break: break-all;
    }

    div[role="contentinfo"] {
      flex-wrap: wrap;
      > section {
        &:first-of-type {
          position: absolute;
          bottom: 2em;
          flex: 1;
        }
        [role="button"] {
          margin: 0 1ch 1ch 0;
        }
        &:last-of-type {
          overflow-x: scroll;
          overflow-x: overlay;
          &::-webkit-scrollbar {
            background-color: transparent;
          }
        }
      }
    }
  }
}
