@import "variables";

$mobileThreshold: 767px;

@media (max-width: $mobileThreshold) {
  p,
  a {
    font-weight: 300;
  }
}

@media (max-width: $mobileThreshold) {
  main {
    > header {
      display: none;
    }
    > header,
    > footer {
      > div {
        padding: 0px 16px;
      }
    }
  }
  article {
    padding: 1em;
  }
  header + article {
    padding: 2em 1em 6em;
    table {
      display: table;
    }
  }
}
