// To convert color:
// [rgb to hsl](https://www.rapidtables.com/convert/color/rgb-to-hsl.html)
// [rgba to rgb](https://borderleft.com/toolbox/rgba/)
// theme-bg-tertiary: rgba($theme, 0.15);

:root {
  $fg: #121314;
  $bg: #fff;

  // #33bbff
  // rgb(51, 187, 255)
  $theme: hsl(200, 100%, 60%);

  --color-fg: #{$fg};
  --color-bg: #{$bg};
  --color-bg-transparent: #{rgba($bg, 0.9)};
  --color-bg-secondary: #f2f2f2;
  --color-bg-tertiary: #f6f8fa;
  --theme: #{$theme};
  --theme-bg-secondary: #{rgba($theme, 0.5)};
  --theme-bg-tertiary: #e0f5ff;

  .scheme {
    &--dark {
      display: none;
    }
  }

  @media (prefers-color-scheme: dark) {
    $fg: #c9d1d9;
    $bg: #121314;
    // #0088cc
    // rgb(0, 136, 204)
    $theme: hsl(200, 100%, 40%);

    color-scheme: dark;

    --color-fg: #{$fg};
    --color-bg: #{$bg};
    --color-bg-transparent: #{rgba($bg, 0.9)};
    --color-bg-secondary: #232425;
    --color-bg-tertiary: #333537;
    --theme: #{$theme};
    --theme-bg-secondary: #{rgba($theme, 0.5)};
    --theme-bg-tertiary: #0f2530;

    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
    }
  }
}
