// theme light
article {
  --color-fg: #121314;
  --color-bg: #fff;
  --color-bg-tertiary: #f6f8fa;
  --theme: #00a1f1;
  --theme-bg-secondary: rgb(163, 207, 245);
  --theme-bg-tertiary: rgb(236, 245, 253);
}
