$LTGreen: #16a085;
$ThemeColor: #00a1f1;
$PagePadding: 5vh 10vw;
$fontSansSerif: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Noto Sans, Droid Sans, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
  Noto Color Emoji;

$zNav: 8888;
$navHeight: 60px;
$PostPaddingTop: calc(#{$navHeight} + 2em);

@mixin textHighlight($color) {
  text-decoration: underline;
  text-decoration-thickness: 2ex;
  text-decoration-color: $color;
  -webkit-text-decoration-skip: none;
  text-decoration-skip-ink: none;
  text-underline-offset: -2.6ex;
}
