@import 'keyframes';
@import '../../helpers/mixins';

.weather-container_breeze:after {
  @include absoluteCTL(60%, 50%);
  transform: translate(-50%, -50%);
  width: 0.05em;
  height: 0.35em;
  background: #fff;
}

.breeze {
  @include absoluteTL(25%, 50%);
  transform: translate(-50%, -50%);
  border-right: 0.025em solid transparent;
  border-left: 0.025em solid transparent;
  border-bottom: 0.3em solid #fff;
  animation: wind 12s infinite linear;
  transform-origin: 50.5% 0.32em;
}
.breeze:before {
  @include absoluteCTL(0.375em, -0.295em);
  border-right: 0.3em solid #fff;
  border-top: 0.025em solid transparent;
  border-bottom: 0.025em solid transparent;
  transform: rotate(-30deg);
}
.breeze:after {
  @include absoluteCTL(0.375em, -0.005em);
  border-top: 0.025em solid transparent;
  border-left: 0.3em solid #fff;
  border-bottom: 0.025em solid transparent;
  transform: rotate(30deg);
}
