@import 'keyframes';
@import '../../helpers/mixins';

.cloud2 {
  @include absoluteTL(50%, 50%);
  width: 200px;
  height: 260px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 200%;
  color: #fff;
  background: #2EB5E5;
  border-radius: 5px;
}

.cloud2:before {
  @include absoluteCTL(55%, 30%);
  text-indent: 23px;
  font-size: 22px;
  line-height: 40px;
  color: #333;
  height: 50px;
  width: 50px;
  background: #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 100;
  box-shadow:
  #fff 65px -15px 0 -5px,
  #fff 25px -25px,
  #fff 30px 10px,
  #fff 60px 15px 0 -10px,
  #fff 85px 5px 0 -5px;
  animation: cloud 5s ease-in-out infinite;
}
.cloud2:after {
  @include absoluteCTL(45%, 63%);
  height: 60px;
  width: 60px;
  z-index: 10;
  background: linear-gradient(180deg,#FE9F38 0%, #F46635 100%);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px 4px #FFA563;
  animation: cloud 10s ease-in-out infinite;
}
