@import 'keyframes';
@import '../../helpers/mixins';

.rainbow-container {
  @include absoluteTL(50%, 50%);
  width: 200px;
  height: 260px;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 200%;
  color: #fff;
  background: #F3D166;
  border-radius: 5px;
}
.rainbow{
  @include absoluteTL(50%, 50%);
  transform: translate(-50%, -50%);
  height: 1px;
  width: 1px;
}
.rainbow:before{
  @include absoluteCTL(50%, 50%);
  transform: translate(-50%, -50%) rotate(45deg);
  height: 70px;
  width: 70px;
  border-radius: 100px 0 0 0;
  box-shadow:
    #F44336 -2px -2px 0 1px,
    #FF9800 -4px -4px 0 3px,
    #FFEB3B -6px -6px 0 5px,
    #8BC34A -8px -8px 0 7px,
    #00BCD4 -10px -10px 0 9px,
    #2196F3 -12px -12px 0 11px,
    #9C27B0 -14px -14px 0 13px;
  animation: rainbow 5s ease-in-out infinite;
}
.rainbow:after{
  @include absoluteCTL(70px, 50%);
  height: 15px;
  width: 120px;
  background: rgba(0, 0, 0, .5);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: cloudShadow 5s ease-in-out infinite;
}
