@import '../../helpers/variables';

.panel-left {
  height: 100vh;
}

.terminal-hang {
  width: 100%;
  height: 200px;
  transition: height, 0.8s;
  transform: translateZ(0);
}

.terminal-hang_hidden {
  height: 50px;
}

.terminal-out {
  color: white;
  background-color: $sectionBackgroundColor;
  margin: 50px 0 100px;
  padding: 2rem;
  transition: margin 0.8s;
  overflow: hidden;
}

.terminal-out__content {
  overflow-y: auto;
  height: 100%;
}

.terminal-out__content::-webkit-scrollbar {
  width: 0
}

.terminal-hint {
  margin-bottom: 200px;
}
