@import '../../helpers/variables';

.panel-left {
  height: 100vh;
}

.panel-left_blur {
  .terminal-out {
    opacity: 0;
  }
}

.panel-left_output {
  .terminal-hang {
    height: 50px;
  }
  .terminal-out {
    margin-bottom: 100px;
  }
}

.terminal-hang {
  width: 100%;
  height: 200px;
  transition: height $terminalTransitionTime;
  transform: translateZ(0);
}

.terminal-out {
  color: white;
  background-color: $sectionBackgroundColor;
  margin: 50px 0 200px;
  padding: 0 15px;
  transition:
    margin $terminalTransitionTime,
    opacity $terminalTransitionTime;
  overflow: hidden;
  opacity: 1;
  &__content {
    padding: 15px;
    overflow-y: auto;
    height: 100%;
  }
}
