@import '../../helpers/variables';

.panel-right {
  height: calc(100vh - 150px);
  margin-top: 50px;
  overflow: hidden;
  color: white;
  transition: height $terminalTransitionTime ease-out;
  background-image: url($REACT_APP_API_SERVER + "/binks");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

.panel-right__content {
  padding: 1rem;
}

.panel-right_hidden {
  height: 0;
}

.panel-right__content::-webkit-scrollbar {
  width: 0;
}
