@import '../helpers/variables';
@import 'terminal';
@import 'panel';

body {
  // TODO: dynamic background
  background: url('../bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    rgba(90, 85, 78, 0.45) 0%,
    rgba(100, 94, 85, 0.45) 20%,
    rgba(36, 43, 39, 0.55) 100%
  );
  opacity: 0.3;
  transition: opacity 1s ease-out;
}

body:focus-within {
  &::before {
    opacity: 1;
  }
}
