@import 'components/main';
@import 'components/footer';

html {
  font-family: 'Metropolis', Arial, Helvetica, sans-serif;
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;
}
