* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  &::after, &::before {
    box-sizing: border-box;
  }
  &:disabled {
    cursor: not-allowed;
  }
}

html {
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  // font-family: Roboto, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #202124; // TODO: font colors manage
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1 {
  margin: 0;
}
