* {
  background-repeat: no-repeat;
  text-decoration: none;
  font-size: 100%;
  vertical-align: baseline;
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
  &, &::after, &::before {
    box-sizing: border-box;
  }
  &:disabled {
    cursor: not-allowed !important;
  }
  &:focus {
    outline: none;
  }
}

html {
  font-size: 16px;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  // font-family: Roboto, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #202124; // TODO: font colors manage
}

ul {
  list-style: none;
  -webkit-padding-start: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

h1 {
  margin: 0;
  font-size: 1.5em;
}

input {
  border-radius: 0;
  appearance: none;
}

form {
  margin-top: 0;
  margin-bottom: 0;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
}


::-webkit-scrollbar {
  background-color: #F7F7F7;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.48);
  border-radius: 8px;
  border: solid #F7F7F7;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #686868;
}
::-webkit-scrollbar-thumb:active {
  background-color: #808080;
}
