@import '../../../helpers/variables';
@import '../../../helpers/mixins';


.dialog {
  background-color: #fff;
  padding: 10px;
  &__title {
    justify-content: space-between;
    align-items: center;
  }
  &__content {
    overflow: hidden;
  }
  &__button-group {
    button:not(:last-of-type) {
      margin-right: 10px;
    }
    justify-content: flex-end;
  }
  &__scarecrow {
    visibility: hidden;
    @include absoluteTL(0, 0);
    z-index: -1;
  }
}
