@import '../../../helpers/variables';
@import '../../../helpers/mixins';

.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2000;
  overflow-x: hidden;
  overflow-y: auto;
  visibility: hidden;
  z-index: -1;

  .callout, .dialog {
    visibility: visible;
    box-shadow:
      rgba(0, 0, 0, 0.133) 0px 6.4px 14.4px 0px,
      rgba(0, 0, 0, 0.11) 0px 1.2px 3.6px 0px;
  }

  .callout {
    position: absolute;
  }

  &--callout {
    z-index: $zHover;
  }
  &--dialog {
    z-index: $zDialog;
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    .layer__content {
      margin-top: -20%;
    }
  }

  &__content {
    position: relative;
  }
}
