@import '../../scss/index';

body {
  background-image: none;
  margin: 10px;
  padding: 10px;
}

body::before {
  content: none;
  background: #fff;
}

.story- {
  &suite {
    &:not(:first-of-type) {
      margin-top: 20px;
    }
    &__caption {
      margin-block-end: 5px;
    }
    &__content {
      flex-wrap: wrap;
      & > * {
        margin-bottom: 10px;
        &:not(:last-of-type) {
          margin-right: 10px;
        }
      }
    }
    &--fixme {
      border: 2px solid red;
      background-color: rgba(red, 0.1);
    }
  }
}
