@import 'keyframes';
@import '../../helpers/mixins';

.snow {
  @include absoluteTL(30%, 50%);
  width: 4px;
  height: 4px;
  border-radius:50%;
  background: #fff;
  border-radius: 50%;
  animation: snowFall 2s infinite linear;
}

.snow:before {
  @include absoluteCTL(0.15em, -0.2em);
  color: #333;
  height: 0.25em;
  width: 0.25em;
  background: #eee;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  @include cloudBoxShadow(#eee);
  animation: cloud 5s ease-in-out infinite;
}

// .snow:after
