@import 'keyframes';
@import '../../helpers/mixins';
@import '../../helpers/variables';

.star {
  @include absoluteTL(25%, 40%);
  transform: translate(-50%, -50%);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  box-shadow:
    #fff -26px 77px 0 -1px,
    rgba(#fff, 0.1) -36px 59px 0 -1px,
    rgba(#fff, 0.1) -28px 89px 0 -1px,
    #fff -35px 20px 0 -1px,
    #fff 14px 100px,
    rgba(#fff, 0.1) 41px 60px,
    #fff 34px 39px,
    rgba(#fff, 0.1) 14px 45px 0 -1px,
    #fff 64px 12px 0 -1px,
    rgba(#fff, 0.1) 32px 96px 0 -1px,
    #fff 64px 71px,
    rgba(#fff, 0.1) 60px 18px 0 -1px,
    #fff 34px 9px,
    rgba(#fff, 0.1) -26px 55px 0 -1px;
  animation: glow 5s ease-in-out infinite;
}
.star:before {
  @include absoluteCTL(15%, 50%);
  width: 0.5em;
  height: 0.5em;
  box-shadow: $moonyellow -0.125em 0;
  transform: rotate(-5deg);
  border-radius: 50%;
  animation: moon 5s ease-in-out infinite;
}
