$LTGreen: #16a085;
$PagePadding: 5vh 10vw;
$fontSansSerif: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
  Noto Sans, Droid Sans, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
  Noto Color Emoji;

$zNav: 8888;
$navHeight: 60px;
$PostPaddingTop: calc(#{$navHeight} + 2em);

@mixin textHighlight($color) {
  box-shadow: inset 0 -0.4em 0 $color;
  transition: box-shadow 200ms ease-in-out;
  &:hover {
    box-shadow: inset 0 -1.1em 0 $color;
  }
}

@mixin inputBoxShadow($color1, $color2) {
  // 0.08, 0.15
  box-shadow: 0 1px 1px 0 $color1, 0 1px 3px 1px $color2;
}
