$border: 1px solid gray;
.article {
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 1ch;
    margin-bottom: 1rem;
    padding: 1rem;

    &[data-count="0"] {
      visibility: hidden;
    }

    legend {
      font-size: 1.6rem;
      text-transform: capitalize;
    }

    > label {
      display: flex;
      align-items: center;

      > span {
        flex: 0 0 100px;
        text-transform: capitalize;
      }
    }

    pre {
      display: none;
    }

    fieldset {
      margin: 0;
    }
  }
}

.inputs,
.outputs {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  gap: 1rem;

  li,
  label {
    flex: 0 0 calc((100% - 3rem) / 4);
    border: $border;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      max-width: 100%;
      aspect-ratio: 1;
      object-fit: contain;
    }
  }

  label {
    padding: 0.5ch;
  }
}

.inputs {
  li {
    position: relative;
    cursor: pointer;

    &:hover {
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.75);
      }

      &::after {
        content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='m432 144l-28.67 275.74A32 32 0 0 1 371.55 448H140.46a32 32 0 0 1-31.78-28.26L80 144'/%3E%3Crect width='448' height='80' x='32' y='64' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' rx='16' ry='16'/%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M312 240L200 352m112 0L200 240'/%3E%3C/svg%3E");
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50%;
      }
    }
  }
}

.outputs {
  li {
    --border-thickness: 3px;
    --b: var(--border-thickness);
    --corner-size: 0.45em;
    --s: var(--corner-size);

    border: none;
    flex-basis: 100%;

    img {
      aspect-ratio: unset;
    }

    &[data-status="error"] {
      --line-color: #f22f31;

      transition:
        0.3s linear,
        color 0s,
        background-color 0s;
      outline: var(--b) solid #0000;
      padding: 1em;
      animation: moving-outline 3s linear infinite;
      will-change: background-color, outline-color, outline-offset;
    }

    &[data-status="processing"] {
      --line-color: var(--theme);
      padding: 1em;
      outline: var(--b) solid var(--line-color);
      outline-offset: calc(-1 * var(--b));
    }
  }
}

.ffmpeg-message {
  &:empty {
    display: none;
  }
}

@keyframes moving-outline {
  0% {
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--line-color) 0) var(--s) var(--s) /
      calc(100% - var(--b) - 2 * var(--s)) calc(100% - var(--b) - 2 * var(--s));
    outline-color: #0000;
    outline-offset: 0.4em;
  }
  50% {
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--line-color) 0) 0px 0px /
      calc(100% - var(--b) - 2 * 0px) calc(100% - var(--b) - 2 * 0px);
    outline-color: var(--line-color);
    outline-offset: 0.04em;
  }
  100% {
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--line-color) 0) var(--s) var(--s) /
      calc(100% - var(--b) - 2 * var(--s)) calc(100% - var(--b) - 2 * var(--s));
    outline-color: #0000;
    outline-offset: 0.4em;
  }
}
