@import '../../helpers/mixins';

.thunder {
  @include absoluteTL(45%, 30%);
  color: #333;
  height: 25%;
  width: 25%;
  background: #222;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  @include cloudBoxShadow(#222);
  animation: cloud 5s ease-in-out infinite;
}
.thunder:before {
  @include absoluteCTL(0.3em, 0.3em);
  border-left: 0 solid transparent;
  border-right: 0.04em solid transparent;
  border-top: 0.19em solid yellow;
  box-shadow: yellow -0.035em -0.16em;
  transform: rotate(30deg);
  transform-origin: center -0.25em;
  animation: thunder 2s steps(1, end) infinite;
}

// .thunder:after
