$SMALL_SIZE: $navHeight;
$SIZE: $navHeight * 4;
$TRANSITION_TIME: 0.5s;

.weather-widget {
  color: #fff;
  background-color: rgba(#000, 0.6);
  width: $SMALL_SIZE;
  height: $SMALL_SIZE;
  transition:
    width $TRANSITION_TIME,
    height $TRANSITION_TIME;

  &__info {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    padding-top: 0;
    width: 50%;
    &-container {
      height: 100%;
      display: none;
    }
    &-main_temperature {
      font-size: 5em;
      text-align: center;
    }
    &-main_summary {
      font-size: 1.5em;
      text-align: center;
    }
    &-detail {
      margin-top: 0;
      text-align: center;
    }
    &-detail_icon {
      padding: 0 2px;
      svg {
        width: 1em;
        height: 1em;
      }
    }
    &-detail_block {
      width: 33.3%;
      font-size: 0.875em;
    }
  }

  &:hover {
    background-color: rgba(#000, 0.9);
    width: $SIZE * 2;
    height: $SIZE;
    .weather-animation {
      width: $SIZE;
      height: $SIZE;
      font-size: $SIZE;
    }
    .weather-widget {
      &__info-container {
        background-color: rgba(#fff, 0.1);
        display: block;
      }
    }
  }
}

.weather-animation {
  @import 'keyframes';
  @import 'breeze';
  @import 'cloud';
  @import 'cloud2';
  @import 'fog';
  @import 'night';
  @import 'rain';
  @import 'snow';
  @import 'star';
  @import 'sun';
  @import 'thunder';
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: transparent;
  border-radius: 2.5%;
  transform: none;
  width: $SMALL_SIZE;
  height: $SMALL_SIZE;
  font-size: $SMALL_SIZE;
  border-radius: 0;
  transition:
    width $TRANSITION_TIME,
    height $TRANSITION_TIME;
}
