@import 'keyframes';
@import 'breeze';
@import 'cloud';
@import 'cloud2';
@import 'fog';
@import 'night';
@import 'rain';
@import 'snow';
@import 'star';
@import 'sun';
@import 'thunder';
@import 'widget';


$SIZE: 200px;
$SMALL_SIZE: 50px;

.weather-container {
  @include absoluteTL(50%, 50%);
  width: $SIZE;
  height: $SIZE;
  font-size: $SIZE;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  background-color: rgba(#0bf, 0.8);
  border-radius: 2.5%;
}

.weather-container_small {
  position: fixed;
  top: 0;
  left: 0;
  transform: none;
  width: $SMALL_SIZE;
  height: $SMALL_SIZE;
  font-size: $SMALL_SIZE;
  border-radius: 0;
  transition:
    width 0.8s,
    height 0.8s;
}

.weather-widget {
  color: #fff;
  width: $SMALL_SIZE;
  height: $SMALL_SIZE;
  transition:
    width 0.8s,
    height 0.8s;
}

.weather-widget_toggled {
  width: $SIZE * 2;
  height: $SIZE;
  .weather-container_small {
    width: $SIZE;
    height: $SIZE;
    font-size: $SIZE;
  }
}
