@import '../../helpers/mixins';

$SIZE: 40px;
$SMALL_SIZE: 20px;
$MEDIUM_SIZE: 32px;
$LARGE_SIZE: 60px;

.avatar {
  @include square($SIZE);
  z-index: 1;

  &--small {
    @include square($SMALL_SIZE);
  }
  &--medium {
    @include square($MEDIUM_SIZE);
  }
  &--large {
    @include square($LARGE_SIZE);
  }

  img {
    @include square(100%);
  }
  &--circle {
    img {
      border-radius: 100%;
    }
  }
  &--rounded {
    img {
      border-radius: 10%;
    }
  }
}
