@import '../../helpers/variables';
@import '../../helpers/mixins';

.hover- {
  &wrapper {
    display: inline-block;
  }
  &callout {
    background: #fff;
    color: $fabricBlack;
    border-radius: 2px;
    padding: 0;
    margin: 0;
    &--top {
      transform: translate(0, -100%);
    }
    &--right {
      transform: translate(0, 0);
    }
    &--bottom {
      transform: translate(0， 0);
    }
    &--left {
      transform: translate(-100%, 0);
    }
    &--top, &--bottom {
      .hover-beak {
        transform: translate(-50%, 0) rotate(45deg);
      }
    }
    &--left, &--right {
      .hover-beak {
        transform: translate(0, -50%) rotate(45deg);
      }
    }
  }
  &beak {
    position: absolute;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: inherit;
  }
}
