@import '../helpers/mixins';

.fluent-arcylic {
  overflow: hidden;
  background: inherit;
  background-color: rgba(#fff, 0.2);
  background-blend-mode: saturation;
  &::before {
    @include absoluteContentFull;
    filter: blur(10px);
    background: inherit;
    background-color: rgba(#000, 0.2);
    background-blend-mode: exclusion;
    z-index: 9;
  }
  &::after {
    @include absoluteContentFull;
    background: inherit;
    background-image: url('../noise.png');
    background-color: rgba(#000, 0.6);  // the real entry of control
    background-blend-mode: overlay;
    z-index: 10;
  }
  * {
    z-index: 11;
    position: relative;
  }
  > * {
    overflow: auto;
    height: 100%;
  }
}
