@import '../helpers/mixins';

.fluent-arcylic {
  overflow: hidden;
  &::before {
    @include absoluteContentFull;
    filter: blur(5px);
    // background: inherit;
    background-image: url('../bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    z-index: 9;
    position: absolute;
  }
  &::after {
    @include absoluteContentFull;
    background-color: rgba(#000, 0.6);
    z-index: 10;
  }
  * {
    z-index: 11;
    position: relative;
  }

  > * {
    overflow: scroll;
    height: 100%;
  }
}
