$TextColor: #121314;
$WorkTheme: #e31837;
$PagePadding: 5vh 10vw;

@mixin textHighlight($color) {
  box-shadow: inset 0 -0.4em 0 $color;
  transition: box-shadow 200ms ease-in-out;
  &:hover {
    box-shadow: inset 0 -1.1em 0 $color;
  }
}
