@import "variables";

@font-face {
  font-family: DejaVu Sans;
  src: url(../../public/fonts/DejaVuSans.woff2) format("woff2"), url(../../public/fonts/DejaVuSans.woff) format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}

body {
  font-family: DejaVu Sans, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: $PagePadding;
  margin: 0;
  color: $TextColor;
  overflow-x: hidden;
}

h1 {
  font-size: 4.5em;
  font-weight: 500;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0;
}

p {
  font-size: 1.6em;
  font-weight: 400;
  line-height: 1.4;
  max-width: 28em;

  a {
    font-weight: 400;
  }

  svg {
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-right: 0.5ch;
  }
}

a {
  text-decoration: none;
  color: $TextColor;
  position: relative;
  white-space: nowrap;
  @include textHighlight(rgba(#00a1f1, 0.5));
  &::selection {
    background-color: rgba(#00a1f1, 0.5);
  }
  &:hover::after {
    top: 0;
  }
  &[href*="www.sitel.com"] {
    @include textHighlight(rgba($WorkTheme, 0.5));
    &::selection {
      background-color: rgba($WorkTheme, 0.5);
    }
  }
}

button {
  border: none;
  background: none;
  outline: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Noto Sans,
    Droid Sans, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

span {
  q + span {
    &::before {
      content: " - ";
    }
    & + cite {
      &::before {
        content: " ";
      }
    }
  }
}

ul {
  font-size: 1.6em;
  list-style-type: none;
  padding-inline-start: 0;
}

sub {
  font-weight: 300;
}

footer {
  padding: $PagePadding;
  position: absolute;
  right: 0;
  bottom: 0;
  ul {
    display: flex;
    justify-content: flex-end;
    li {
      margin-left: 20px;
    }
  }
}

aside {
  display: block;
  position: relative;
  float: right;
  shape-outside: circle();
  shape-margin: 1em;
  width: $AsideSize;
  height: $AsideSize;
  img {
    border-radius: 100%;
  }
}

.wave {
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@import "mobile";
@import "desktop";
