@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin absoluteTL($top, $left) {
  position: absolute;
  top: $top;
  left: $left;
}

@mixin absoluteCTL($top, $left) {
  content: "";
  @include absoluteTL($top, $left);
}

@mixin cloudBoxShadow($color) {
  box-shadow:
    #{$color} 0.325em -0.075em 0 -0.025em,
    #{$color} 0.125em -0.125em,
    #{$color} 0.15em 0.05em 0 0.005em,
    #{$color} 0.3em 0.075em 0 -0.05em,
    #{$color} 0.425em 0.025em 0 -0.025em;
}

@mixin absoluteContentFull {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

@mixin sweepToBottom($color) {
  position: relative;
  transition: color 1s;
  &::before {
    @include absoluteContentFull;
    background: $color;
    transform: scaleY(0);
    transform-origin: 50% 0%;
    transition: transform 300ms ease-out;
  }
  &:hover::before {
    transform: scaleY(1);
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin inputBoxShadow($color) {
  box-shadow:
    0 1px 1px 0 rgba($color, 0.08),
    0 1px 3px 1px rgba($color, 0.16);
}

@mixin inputFocusBoxShadow($color) {
  box-shadow:
    0 1px 3px 1px rgba($color, 0.2),
    0 2px 8px 4px rgba($color, 0.1);
}
