$inputColor: #333;
$inpurContrastColor: white;
$shadowColor: #3c4043;
$sectionBackgroundColor: rgba(black, 0.5);
$moonglow: #f4f1c9;
$moonyellow: rgb(255, 238, 68);
$terminalTransitionTime: 0.5s;

$fabricWhite: rgb(237, 235, 233);
$fabricBlack: rgb(50, 49, 48);
$fabricDeepBlack: rgb(32, 31, 30);
$fabricBlue: rgb(0, 120, 212);
$fabricLightBlue: rgb(16, 110, 190);
$fabricDeepBlue: rgb(0, 90, 158);
$fabricGrey: rgb(138, 136, 134);
$fabricLightGrey: rgb(161, 159, 157);
$fabricLightWhite: rgb(237, 235, 233);
$fabricDeepWhite: rgb(243, 242, 241);
$fabricScarlet: rgb(164, 38, 44);

$navHeight: 50px;

// z-index
$zDomino: 9999;
$z404: 9998;
$zHover: 4000;
$zDialog: 3000;
$zNavWidget: 2002;
$zTermianal: 2001;
$zProgress: 2000;
$zNav: 1000;

$grid-breakpoints: (
  xs: 0,
  sm: 450px,
  md: 810px,
  lg: 1200px
); // defaults: 0, 576, 768, 992, 1200

$container-max-widths: (
  sm: 450px,
  md: 750px,
  lg: 1140px
); // defaults: 540, 720, 960, 1140
