@media (max-width: 767px) {
  p,
  a {
    font-weight: 300;
  }
  a {
    white-space: normal;
    text-decoration-line: underline;
    text-decoration-thickness: 1ex;
    text-decoration-skip-ink: none;
    text-underline-offset: -1ex;
    &::after {
      content: none !important;
    }
  }

  footer {
    position: relative;
  }

  .m-hidden {
    display: none;
  }
}
