.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.text-right {
  text-align: right;
}

.flex {
  display: flex;
}

.flex-verticle {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.flex-grow {
  flex-grow: 1;
}

// works like adding <br /> after inline elements
.return::after {
  content: "\A";
  white-space: pre;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
}

.pre-wrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
