.font-sans {
  font-family: 'Metropolis', 'Segoe UI', Arial, Helvetica, sans-serif;
}

.font-serif {
  font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif
}

.font-mono {
  font-family: 'CamingoCode', monospace, sans-serif;
}

.font-read {
  font-family: 'DejaVu Sans Book', Arial, Helvetica, sans-serif;
}

.rem-half {
  font-size: 0.5rem;
}

.rem-2 {
  font-size: 2rem;
}

.rem-4 {
  font-size: 4rem;
}

@font-face {
  font-family: 'Metropolis';
  src: url('../fonts/metropolis-regular-webfont.woff2') format('woff2'),
       url('../fonts/metropolis-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Sans Book';
  src: url('../fonts/DejaVuSans-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url('../fonts/ebgaramond.woff2') format('woff2'),
       url('../fonts/ebgaramond.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CamingoCode';
  src: url('../fonts/CamingoCode-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
